<p>register works!</p>
<mat-card-content>
  <form [formGroup]="registerFG" (ngSubmit)="submitUser()">
    <mat-form-field>
      <input
        matInput
        placeholder="name"
        type="text"
        formControlName="name"
        aria-label="name"
      />
      <mat-error *ngIf="registerFG.get('name')?.errors">
        {{ getErrorMessage(registerFG.get("name")["errors"]) }}
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        placeholder="wachtwoord"
        type="text"
        formControlName="wachtwoord"
        aria-label="wachtwoord"
      />
      <mat-error *ngIf="registerFG.get('wachtwoord')?.errors">
        {{ getErrorMessage(registerFG.get("wachtwoord")["errors"]) }}
      </mat-error>
    </mat-form-field>
    <button type="submit" mat-raised-button [disabled]="!registerFG.valid">
      Register
    </button>
  </form>
</mat-card-content>
