<div fxLayout="column" fxLayoutGap="2%">
  <div *ngIf="producten$ | async as producten; else loadingOrError">
    <div
      fxLayout="row wrap"
      fxLayout.xs="column"
      fxLayoutGap="0.5%"
      fxLayoutAlign="start"
    >
      <div
        class="product"
        *ngFor="let product of producten$ | async"
        fxFlex="0 0 calc(25%-0.5%)"
        fxFlex.xs="100%"
      >
        <app-product
          [product]="product"
          data-cy="product-card-list"
        ></app-product>
        <button (click)="addItem(product)" data-cy="add-button">
          Add To Cart
        </button>
      </div>
    </div>
  </div>

  <ng-template #loadingOrError>
    <span *ngIf="errorMessage; else loading"></span>
    <ng-template #loading>
      <mat-spinner></mat-spinner>
    </ng-template>
  </ng-template>
</div>
